{% extends 'fla_loja/base.html' %}

{% block content %}
<main class="main main--sale" style="padding: 20px;">
<div style="display: flex; flex-direction: column;">
  <h1 style="margin-top: 2rem; margin-bottom: 3rem;">Comprar Produto</h1>

  <form method="post" action="{% url 'fla_loja:buy_car' %}">
      {% csrf_token %}
      <div class="form-group" style="margin-bottom: 2rem;">
        <label for="employee_id">ID do Vendedor:</label>
        <input style="margin-top: 10px;" type="text" id="employee_id" name="employee_id" class="form-control" required>
      </div>

      <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 15px; margin-bottom: 3rem;">
        <select name="payment_method" class="form-select form-select-sm" aria-label="Small select example">
          <option selected></option>
          <option value="pix">Pix</option>
          <option value="cartao_de_debito">Cartão de débito</option>
          <option value="cartao_de_credito">Cartão de crédito</option>
          <option value="boleto">Boleto</option>
          <option value="berries">Berries</option>
        </select>
        <label for="floatingTextarea3">Forma de pagamento</label>
      </div>
      
      <button type="submit" class="btn btn-success">Confirmar Compra</button>
      <a href="{% url 'fla_loja:index' %}" class="btn btn-secondary" style="margin-left: 10px;">Cancelar</a>
    </form>
<div>

  {% if messages %}
    <div class="alert alert-danger" style="margin-top: 15px;">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock %}
