{% extends 'fla_loja/base.html' %}

{% block content %}
<main>
<div style="display: flex; flex-direction: row; max-width: 840px; padding-left: 6rem; padding-top: 2rem; padding-bottom: 3rem; margin: 0 auto; align-items: center; align-content: center; justify-content: space-between;">
  <h2 style="margin-top: 30px; max-width: 840px; margin: 0 auto;">Clientes</h2>
</div>
<div 
  style="
  display: flex; 
  flex-direction: row; 
  /* margin-top: 30px; */
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto; 
  max-width: 840px; 
  justify-content: space-between; 
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid rgb(58, 58, 58);"
>
  <p style="font-size: 20px;">ID</p>
  <p style="font-size: 20px;">Nome</p>
  <p style="font-size: 20px;">Email</p>
  <p style="font-size: 20px;">Telefone</p>
  <div style="margin-left: 130px;"></div>
</div>
<div style="margin: 1rem;"></div>
{% if clients %}
{% for client in clients %}
<div 
  style="
  display: flex; 
  flex-direction: row; 
  /* margin-top: 30px; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; 
  max-width: 840px; 
  justify-content: space-between; 
  align-items: center;
  align-content: center;
  border-bottom: 2px solid rgb(58, 58, 58);"
>
  <a href="{% url 'fla_loja:client_detail' client.id %}" style="font-size: 20px; cursor: pointer; text-decoration: underline; color: black;">{{ client.id }}</a>
  <p style="font-size: 20px; margin-top: 7px;">{{ client.name }}</p>
  <p style="font-size: 20px; margin-top: 7px;">{{ client.email }}</p>
  <p style="font-size: 20px; margin-top: 7px;">{{ client.phone }}</p>
  <a href="{% url 'fla_loja:edit_client' client.id %}" style="text-decoration: none; color: black;">
    <svg style="width: 17px; height: 17px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
    </svg>
  </a>

  <a href="{% url 'fla_loja:delete_client' client.id %}" style="margin-left: 10px; text-decoration: none; color: rgb(247, 33, 33);">
    <svg style="width: 17px; height: 17px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
    </svg>
  </a>
</div>
{% endfor %}
<div style="margin-bottom: 7rem;"></div>
{% else %}
<div style="margin-bottom: 10rem;"></div>
{% endif %}
</main>
{% endblock %}
