{% extends 'fla_loja/base.html' %}

{% block content %}

<div style="max-width: 640px; margin: 0 auto">
  <a href="/" style="max-width: 640px; align-items: center; text-decoration: none; color: black;">
    <svg style="margin-top: 50px; margin-bottom: 20px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </a>
</div>

<form enctype="multipart/form-data" action="{% url 'fla_loja:edit_product' product.id %}" method="POST" id="myForm" class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px; align-content: end;">
  {% csrf_token %}
  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input name="name" class="form-control" value="{{ product.name }}" placeholder="Produto" id="floatingTextarea" style="resize: none;"></input>
    <label for="floatingTextarea">Produto</label>
  </div>

  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input name="description" class="form-control" value="{{ product.description }}" placeholder="Descrição" id="floatingTextarea2" style="height: 100px; resize: none;"></input>
    <label for="floatingTextarea2">Descrição</label>
  </div>

  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input name="price" class="form-control" value="{{ product.price }}" placeholder="Preço" id="floatingTextarea3" style="resize: none;"></input>
    <label for="floatingTextarea3">Preço</label>
  </div>

  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input name="quantity_in_stock" class="form-control" value="{{ product.quantity_in_stock }}" placeholder="Quantidade em estoque" id="floatingTextarea4" style="resize: none;"></input>
    <label for="floatingTextarea4">Quantidade em estoque</label>
  </div>

  <div class="input-group mb-3" style="max-width: 640px; margin: 0 auto; margin-top: 40px;">
    <input name="image" type="file" class="form-control" id="inputGroupFile02">
    <label class="input-group-text" for="inputGroupFile02">Foto do produto</label>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
      Confirmar
    </button>
  </div>
</form>

<script>
  document.getElementById('myForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Impede o envio padrão do formulário

      // Cria o objeto FormData com os dados do formulário
      var formData = new FormData(this);

      // Envia a requisição POST usando fetch
      fetch("{% url 'fla_loja:edit_product' product.id %}", {
          method: 'POST',
          body: formData // Envia os dados como FormData
      })
      .then(response => {
          if (response.ok) {
              // Redireciona para a página do produto
              window.location.href = "{% url 'fla_loja:product' product.id %}";
          } else {
              return response.text().then(text => {
                  console.error('Erro:', text);
                  alert('Erro ao editar o produto. Verifique os dados e tente novamente.');
              });
          }
      })
      .catch((error) => {
          console.error('Erro:', error);
          alert('Erro ao enviar a solicitação.');
      });
  });
</script>

{% endblock %}
