{% extends 'fla_loja/base.html' %}

{% block content %}
<main class="main main--edit-client" style="padding: 20px;">
  <div style="display: flex; flex-direction: column;">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Salvar alterações</button>
    </form>
    <a 
      href="{% url 'fla_loja:clients' %}" 
      class="btn btn-secondary"
      style="width: 100px; height: 50px;"
    >
      Cancelar
    </a>
  </div>
</main>
{% endblock %}
