{% extends 'fla_loja/base.html' %}

{% block content %}
<main class="main main--edit-employee" style="padding: 20px;">
  <div style="display: flex; flex-direction: column; margin-top: 30px;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Salvar alterações</button>
    </form>
    <a 
        href="{% url 'fla_loja:employees' %}" 
        class="btn btn-secondary"
        style="width: 100px; height: 50px; margin-top: 30px; margin-bottom: 20px;"
      >
        Cancelar
    </a>
  </div>

  <!-- Exibir mensagens de erro, se houver -->
  {% if messages %}
    <div class="alert alert-danger" style="margin-top: 20px;">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock %}
