{% extends 'fla_loja/base.html' %}

{% block content %}
  <div style="align-items: center; display: flex; justify-content: center;">
    <img 
      src="../../static/fla_loja/images/logo_flamengo.png" 
      alt="Logo flamengo"
      style="width: 500; height: 500;"
    >
  </div>
  <div class="top--home" style="max-width: 640px; margin: 0 auto;">
    <a href="{% url 'fla_loja:create_product' %}" class="button button--add" >
      <span>+</span>
    </a>
  </div>
  {% if all_products %}
    <div class="products">
      {% for product in all_products %}
      <div class="card" style="width: 18rem;">
        <img src="{{ product.image }}" class="card-img-top" alt="Product image">
        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <h5 class="card-title">{{ product.name }}</h5>
            <p style="font-size: 16px; font-weight: bold; margin: 0;"> R${{ product.price }} </p>
          </div>
          <a href="{% url 'fla_loja:product' product.id %}" class="btn btn-primary" style="margin-left: 20px;">Acessar</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <style>
      .products {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.25rem;
        row-gap: 1.25rem;
        justify-content: center;
        max-width: 21.875rem;
        margin: 0 auto; /*sem essa linha, as imagens não estavam centralizadas*/
      }

      .top--home {
        /* max-width: 55rem;
        margin: 0 auto; */
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .button {
        margin: 0 auto;
        /* In order to easily position our buttons, we're making them block level elements */
      
        /* Removes any outlines added when the button is in focus */
        outline: none;
      
        /* Setting the cursor to pointer indicates to a user that the button is a clickable element */
        cursor: pointer;
      
        /* Again, with buttons we have to be explicit about inheriting font properties */
        font-size: inherit;
        font-family: inherit;
      
        /* Slows the background colour change effect when we hover over the button, making
            it take 0.1s with an accelerating colour change */
        transition: background 0.3s ease-in;
      }

      .button--add {
        display: flex;
        /* position: absolute; */
        
        /* bottom: 4rem; distancia do fundo da tela
        right: 2rem; */
        height: 2.5rem;
        width: 2.5rem;
        border: 3px solid black;
        border-radius: 50%;
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.75rem;
        align-items: center;
        justify-content: center;
      }
      
      .button--add:hover {
        color: black;
        background-color: red;
      }

    </style>
  {% else %}
    <p style="max-width: 640px; margin: 0 auto;">Nenhum produto disponível.</p>
  {% endif %}

{% endblock %}
