{% extends 'fla_loja/base.html' %}

{% block content %}
  <div style="align-items: center; display: flex; justify-content: center;">
    <img 
      src="../../static/fla_loja/images/logo_flamengo.png" 
      alt="Logo flamengo"
      style="width: 500; height: 500;"
    >
  </div>
  {% if all_products %}
    <div class="products" style="display: flex; flex-direction: row; justify-content: space-around;">
      {% for product in all_products %}
      <div class="card" style="width: 18rem;">
        <img src="../../static/fla_loja/images/{{ product.image }}" class="card-img-top" alt="Product image">
        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <h5 class="card-title">{{ product.name }}</h5>
            <p style="font-size: 16px; font-weight: bold; margin: 0;"> R${{ product.price }} </p>
          </div>
          <a href="{% url 'fla_loja:product' product.id %}" class="btn btn-primary">Acessar</a>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Nenhum produto disponível.</p>
  {% endif %}

{% endblock %}
