{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'fla_loja/style.css' %}">
  <title>Product Details</title>
</head>
<body>
  <main class="main main--project">
    <div>
        <article class="project">
            <article class="project__content">
                <h2 class="project__heading">{{ product.name }}</h2>
  
                <p>
                  {{product.description}}
                </p>
                <p>{{ product.price }}</p>
            </article>
        </article>
    </div>
  </main>  
</body>
</html>

