{% extends 'fla_loja/base.html' %}

{% block content %}
<main class="main main--sale" style="padding: 20px;">
<div style="display: flex; flex-direction: column;">
  <h1>Comprar Produto</h1>
  <hr style="border: 1px solid black;">

  <form method="post">
      {% csrf_token %}
      <div class="form-group" style="margin-bottom: 15px;">
        <label for="client_id">ID do Cliente:</label>
        <input style="margin-top: 10px;" type="text" id="client_id" name="client_id" class="form-control" required>
      </div>
      <div class="form-group" style="margin-bottom: 15px;">
        <label for="employee_id">ID do Vendedor:</label>
        <input style="margin-top: 10px;" type="text" id="employee_id" name="employee_id" class="form-control" required>
      </div>
      <div class="form-group" style="margin-bottom: 15px;">
        <label for="date_purchased">Data da Compra:</label>
        <input style="margin-top: 10px;" type="date" id="date_purchased" name="date_purchased" class="form-control" required>
      </div>
      <div class="form-group" style="margin-bottom: 15px;">
        <label for="quantity">Quantidade:</label>
        <input style="margin-top: 10px;" type="number" id="quantity" name="quantity" class="form-control" min="1" max="{{ product.quantity_in_stock }}" required>
        <small>Disponível em estoque: {{ product.quantity_in_stock }}</small>
      </div>
      
      <button type="submit" class="btn btn-success">Confirmar Compra</button>
      <a href="{% url 'fla_loja:index' %}" class="btn btn-secondary" style="margin-left: 10px;">Cancelar</a>
    </form>
<div>

  {% if messages %}
    <div class="alert alert-danger" style="margin-top: 20px;">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock %}
