{% extends 'fla_loja/base.html' %}

{% block content %}

<div style="display: flex; flex-direction: row; max-width: 640px; margin: 0 auto; margin-top: 50px; margin-bottom: 20px;">
  <a href="{% url 'fla_loja:index' %}" style="max-width: 640px; align-items: center; text-decoration: none; color: black;">
    <svg style="margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </a>
  <h1 style="margin-left: 15rem;">Login</h1>
</div>


<form enctype="multipart/form-data" action="{% url 'fla_loja:sign_in' %}" method="POST" id="myForm" class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px; align-content: end;">
  {% csrf_token %}
  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input name="email" class="form-control" id="floatingTextarea3" style="resize: none;"></input>
    <label for="floatingTextarea3">Email</label>
  </div>

  <div class="form-floating" style="max-width: 640px; margin: 0 auto; margin-top: 20px;">
    <input type="password" name="password" class="form-control" id="floatingTextarea3" style="resize: none;"></input>
    <label for="floatingTextarea3">Senha</label>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit" style="max-width: 640px; margin: 0 auto; margin-top: 2rem;">
      Confirmar
    </button>
  </div>

  <div style="display: flex; margin-top: 3rem;">
    <small>Não tem uma conta? <a href="{% url 'fla_loja:sign_up' %}">Clique aqui para criar</a></small>
  </div>
</form>
{% endblock %}